@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* IMPORT ALL FONTS */
  @font-face {
    src: url(/fonts/iAWriterQuattroS-Regular.woff2);
    font-family: "Quattro";
    font-style: normal;
    font-weight: normal;
  }

  @font-face {
    src: url(/fonts/iAWriterQuattroS-Bold.woff2);
    font-family: "Quattro";
    font-style: normal;
    font-weight: bold;
  }

  @font-face {
    src: url(/fonts/iAWriterQuattroS-Italic.woff2);
    font-family: "Quattro";
    font-style: italic;
    font-weight: normal;
  }

  @font-face {
    src: url(/fonts/iAWriterQuattroS-BoldItalic.woff2);
    font-family: "Quattro";
    font-style: italic;
    font-weight: bold;
  }
  /* END IMPORT FONTS */

  body {
    @apply overflow-x-hidden;
  }

  /* TYPE SCALE */
  h1.title {
    @apply text-3xl font-bold;
  }

  h1 {
    @apply text-2xl font-bold;
  }

  h2 {
    @apply text-xl font-bold;
  }

  h3 {
    @apply text-lg font-bold;
  }

  h4 {
    @apply text-base text-textSecondary uppercase font-bold;
  }

  h5 {
    @apply text-base text-textSecondary uppercase font-bold;
  }

  h6 {
    @apply text-base text-textSecondary uppercase font-bold;
  }

  p {
    @apply text-base;
  }

  p.big {
    @apply text-lg;
  }

  small {
    @apply text-sm text-textSecondary;
  }

  /* LINK STYLING */
  a {
    /* generic links */
    @apply text-textLink font-bold no-underline;

    /* limit width in chrome */
    overflow-wrap: anywhere;
  }

  /* a:hover {
    @apply text-textLinkHover;
  } */

  /* a:visited {
    @apply text-textLink font-bold no-underline;
  } */

  a.int {
    /* internal links, same as generic links */
  }
  a.ext {
    /*for external links*/
    @apply italic;
  }
  /*END LINK STYLING*/

  /*END TYPE SCALE*/

  body {
    font-family: "Quattro";
    @apply bg-backgroundApp;
    @apply pl-8;
    @apply pr-8;
    @apply ml-auto;
    @apply mr-auto;
    @apply mt-8;
    @apply mb-12;
    @apply max-w-4xl;
  }

  textarea {
    @apply border border-borderDefault rounded-sm;

    :focus {
      @apply border-borderFocus;
    }
  }

  img {
    image-rendering: pixelated;
    image-rendering: crisp-edges;
  }

  ::placeholder {
    @apply italic;
  }

  option {
    font-family: "Quattro";
  }
}
